In [94]:
import pandas as pd

In [95]:
state_data = pd.read_csv("CSV_Data/us-states.csv")
state_data

             date          state  fips   cases  deaths
0      2020-01-21     Washington    53       1       0
1      2020-01-22     Washington    53       1       0
2      2020-01-23     Washington    53       1       0
3      2020-01-24       Illinois    17       1       0
4      2020-01-24     Washington    53       1       0
...           ...            ...   ...     ...     ...
23274  2021-04-29       Virginia    51  658341   10751
23275  2021-04-29     Washington    53  403589    5535
23276  2021-04-29  West Virginia    54  152733    2674
23277  2021-04-29      Wisconsin    55  659812    7542
23278  2021-04-29        Wyoming    56   58069     707

[23279 rows x 5 columns]

In [96]:
death_by_date_df = state_data[["state", "date", "deaths"]]
death_by_date_df

               state        date  deaths
0         Washington  2020-01-21       0
1         Washington  2020-01-22       0
2         Washington  2020-01-23       0
3           Illinois  2020-01-24       0
4         Washington  2020-01-24       0
...              ...         ...     ...
23274       Virginia  2021-04-29   10751
23275     Washington  2021-04-29    5535
23276  West Virginia  2021-04-29    2674
23277      Wisconsin  2021-04-29    7542
23278        Wyoming  2021-04-29     707

[23279 rows x 3 columns]