In [94]:
import pandas as pd

In [95]:
state_data = pd.read_csv("CSV_Data/us-states.csv")
state_data

             date          state  fips   cases  deaths
0      2020-01-21     Washington    53       1       0
1      2020-01-22     Washington    53       1       0
2      2020-01-23     Washington    53       1       0
3      2020-01-24       Illinois    17       1       0
4      2020-01-24     Washington    53       1       0
...           ...            ...   ...     ...     ...
23274  2021-04-29       Virginia    51  658341   10751
23275  2021-04-29     Washington    53  403589    5535
23276  2021-04-29  West Virginia    54  152733    2674
23277  2021-04-29      Wisconsin    55  659812    7542
23278  2021-04-29        Wyoming    56   58069     707

[23279 rows x 5 columns]

In [96]:
death_by_date_df = state_data[["state", "date", "deaths"]]
death_by_date_df

               state        date  deaths
0         Washington  2020-01-21       0
1         Washington  2020-01-22       0
2         Washington  2020-01-23       0
3           Illinois  2020-01-24       0
4         Washington  2020-01-24       0
...              ...         ...     ...
23274       Virginia  2021-04-29   10751
23275     Washington  2021-04-29    5535
23276  West Virginia  2021-04-29    2674
23277      Wisconsin  2021-04-29    7542
23278        Wyoming  2021-04-29     707

[23279 rows x 3 columns]

In [97]:
mask_data = pd.read_csv("CSV_Data/mask-use-by-county.csv")
mask_data

      COUNTYFP  NEVER  RARELY  SOMETIMES  FREQUENTLY  ALWAYS
0         1001  0.053   0.074      0.134       0.295   0.444
1         1003  0.083   0.059      0.098       0.323   0.436
2         1005  0.067   0.121      0.120       0.201   0.491
3         1007  0.020   0.034      0.096       0.278   0.572
4         1009  0.053   0.114      0.180       0.194   0.459
...        ...    ...     ...        ...         ...     ...
3137     56037  0.061   0.295      0.230       0.146   0.268
3138     56039  0.095   0.157      0.160       0.247   0.340
3139     56041  0.098   0.278      0.154       0.207   0.264
3140     56043  0.204   0.155      0.069       0.285   0.287
3141     56045  0.142   0.129      0.148       0.207   0.374

[3142 rows x 6 columns]