In [66]:
import requests
import json
import pprint as pprint
import pandas as pd

In [69]:
state_data = pd.read_csv("CSV_Data/us-states.csv")
state_data

             date          state  fips   cases  deaths
0      2020-01-21     Washington    53       1       0
1      2020-01-22     Washington    53       1       0
2      2020-01-23     Washington    53       1       0
3      2020-01-24       Illinois    17       1       0
4      2020-01-24     Washington    53       1       0
...           ...            ...   ...     ...     ...
23274  2021-04-29       Virginia    51  658341   10751
23275  2021-04-29     Washington    53  403589    5535
23276  2021-04-29  West Virginia    54  152733    2674
23277  2021-04-29      Wisconsin    55  659812    7542
23278  2021-04-29        Wyoming    56   58069     707

[23279 rows x 5 columns]

In [73]:
grouped_state_df = state_data.groupby(['state'])
grouped_state_df.head()

            date                     state  fips  cases  deaths
0     2020-01-21                Washington    53      1       0
1     2020-01-22                Washington    53      1       0
2     2020-01-23                Washington    53      1       0
3     2020-01-24                  Illinois    17      1       0
4     2020-01-24                Washington    53      1       0
...          ...                       ...   ...    ...     ...
1425  2020-03-28  Northern Mariana Islands    69      2       0
1480  2020-03-29  Northern Mariana Islands    69      2       0
1535  2020-03-30  Northern Mariana Islands    69      2       0
1590  2020-03-31  Northern Mariana Islands    69      2       0
1645  2020-04-01  Northern Mariana Islands    69      6       1

[275 rows x 5 columns]

In [76]:
deaths = grouped_state_df["deaths"].sum()
deaths

state
Alabama                      1599680
Alaska                         45987
Arizona                      2817615
Arkansas                      899064
California                   8919335
Colorado                     1247452
Connecticut                  2004239
Delaware                      305561
District of Columbia          263758
Florida                      6181377
Georgia                      3269085
Guam                           26154
Hawaii                         76729
Idaho                         327074
Illinois                     4857939
Indiana                      2323816
Iowa                          960359
Kansas                        708837
Kentucky                      870104
Louisiana                    2302808
Maine                         113177
Maryland                     1823478
Massachusetts                4097511
Michigan                     3775366
Minnesota                    1309457
Mississippi                  1341635
Missouri                     1490899
Montana                       217574
Nebraska                      388103
Nevada                        880039
New Hampshire                 236887
New Jersey                   6544807
New Mexico                    641279
New York                    13823752
North Carolina               2000684
North Dakota                  260892
Northern Mariana Islands         782
Ohio                         2892225
Oklahoma                      768417
Oregon                        385636
Pennsylvania                 4746145
Puerto Rico                   368780
Rhode Island                  545821
South Carolina               1577734
South Dakota                  304650
Tennessee                    1799787
Texas                        7971215
Utah                          333401
Vermont                        40301
Virgin Islands                  6477
Virginia                     1659052
Washington                   1078520
West Virginia                 355882
Wisconsin                    1219159
Wyoming                        96953
Name: deaths, dtype: int64

In [79]:
death_summary_df = pd.DataFrame({"Total Deaths": deaths})
death_summary_df

                          Total Deaths
state
Alabama                        1599680
Alaska                           45987
Arizona                        2817615
Arkansas                        899064
California                     8919335
Colorado                       1247452
Connecticut                    2004239
Delaware                        305561
District of Columbia            263758
Florida                        6181377
Georgia                        3269085
Guam                             26154
Hawaii                           76729
Idaho                           327074
Illinois                       4857939
Indiana                        2323816
Iowa                            960359
Kansas                          708837
Kentucky                        870104
Louisiana                      2302808
Maine                           113177
Maryland                       1823478
Massachusetts                  4097511
Michigan                       3775366
Minnesota                      1309457
Mississippi                    1341635
Missouri                       1490899
Montana                         217574
Nebraska                        388103
Nevada                          880039
New Hampshire                   236887
New Jersey                     6544807
New Mexico                      641279
New York                      13823752
North Carolina                 2000684
North Dakota                    260892
Northern Mariana Islands           782
Ohio                           2892225
Oklahoma                        768417
Oregon                          385636
Pennsylvania                   4746145
Puerto Rico                     368780
Rhode Island                    545821
South Carolina                 1577734
South Dakota                    304650
Tennessee                      1799787
Texas                          7971215
Utah                            333401
Vermont                          40301
Virgin Islands                    6477
Virginia                       1659052
Washington                     1078520
West Virginia                   355882
Wisconsin                      1219159
Wyoming                          96953