In [5]:
import json
import requests
import numpy as np
import pandas as pd
import seaborn as sns
from pprint import pprint
import matplotlib.pyplot as plt

CDC by age

In [129]:
age_sex_data = pd.read_csv("../Folder1/Death_Counts_by_Sex_Age_and_State.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa0 in position 0: invalid start byte

In [ ]:
age_data = age_sex_data.loc[(age_sex_data['Sex'] == 'All Sexes')]
#age_data = age_data.loc[age_data['State'] == 'United States']
#age_data = age_data.loc[age_data['Age Group'] == '85 years and over']
age_data = age_data.loc[age_data['Group']== 'By Total']
age_data

In [ ]:
del age_data['Footnote']
del age_data['Data As Of']
del age_data['Sex']
del age_data['Pneumonia Deaths']
del age_data['Pneumonia and COVID-19 Deaths']
del age_data['Influenza Deaths']
del age_data['Pneumonia, Influenza, or COVID-19 Deaths']

In [ ]:
age_data = age_data.fillna(0)
#age_data.head()

In [ ]:
age_data = age_data.reset_index(drop=True)
age_data

In [ ]:
age_data.to_csv("../Folder2/us-age-data.csv", index=False, header=True)

In [ ]:
age_data.to_csv("../Folder2/age-data.csv", index=False, header=True)

CDC by sex

In [ ]:
sex_data = pd.read_csv("../Folder1/Death_Counts_by_Sex_Age_and_State.csv")
#sex_data.head()

In [ ]:
all_ages = sex_data.loc[sex_data['Age Group'] == 'All Ages']
all_ages = all_ages.loc[all_ages['Group']=='By Total']
sex_state = all_ages.loc[all_ages['State']!='Puerto Rico']
sex_state = sex_state.loc[sex_state['State']!='United States']
sex_state = sex_state.loc[sex_state['State']!='District of Columbia']
sex_data = sex_state.loc[sex_state['Sex'] != 'All Sexes']

In [ ]:
del sex_data['Footnote']
del sex_data['Data As Of']
del sex_data['Age Group']
del sex_data['Pneumonia Deaths']
del sex_data['Pneumonia and COVID-19 Deaths']
del sex_data['Influenza Deaths']
del sex_data['Pneumonia, Influenza, or COVID-19 Deaths']
sex_data = sex_data.fillna(0)

In [ ]:
sex_data = sex_data.reset_index(drop=True)
sex_data.head()

In [ ]:
sex_data.to_csv("../Folder2/sex-data.csv", index=False, header=True)

Race Data from CDC

In [2]:
race_ethnicity_data = pd.read_csv("../Folder1/race-ethnicity.csv")

NameError: name 'pd' is not defined

In [3]:
del race_ethnicity_data['Footnote']
del race_ethnicity_data['Data as of']

NameError: name 'race_ethnicity_data' is not defined

In [4]:
race_ethnicity_data = race_ethnicity_data.loc[(race_ethnicity_data['Group'] == 'By Total')]
race_ethnicity_data = race_ethnicity_data.loc[(race_ethnicity_data['State'] == 'United States')]
#race_ethnicity_data = race_ethnicity_data.loc[race_ethnicity_data['State']!='District of Columbia']
#race_ethnicity_data = race_ethnicity_data.loc[race_ethnicity_data['Indicator']!='Unweighted distribution of population (%)']
race_ethnicity_data = race_ethnicity_data.fillna(0)
#race_ethnicity_data.head()

NameError: name 'race_ethnicity_data' is not defined

In [ ]:
race_ethnicity_data.rename(columns={"Non-Hispanic White": "White", "Non-Hispanic Black or African American": "Black or African American", "Non-Hispanic American Indian or Alaska Native":
                               "American Indian or Alaska Native", "Non-Hispanic Asian": "Asian", "Non-Hispanic Native Hawaiian or Other Pacific Islander": "Native Hawaiian or Other Pacific Islander",
                               "Deaths_AIAN": "Deaths: AIAN", "Deaths_NHPI": "Deaths: NHPI", "Deaths_Multiracial": "Deaths: Multiracial",
                               "Non Hispanic more than one race": "More Than One Race"})
race_ethnicity_data

In [ ]:
distribution = race_ethnicity_data.loc[race_ethnicity_data['Indicator'] == 'Distribution of COVID-19 deaths (%)']
distribution

In [ ]:
#dis_list = []
#dis_list.append(white)
#dis_list

In [ ]:
race_ethnicity_data = race_ethnicity_data.reset_index(drop=True)

In [ ]:
race_ethnicity_data.to_csv("../Folder2/race-population-data.csv", index=False, header=True)

trying to merge

In [ ]:
race_data = pd.read_csv("../Folder2/race-population-data.csv")
#race_data.head()

In [6]:
age_data = pd.read_csv("../Folder2/us-age-data.csv")
age_data

,Start Date,End Date,Group,Year,Month,State,Age Group,COVID-19 Deaths,Total Deaths
0,1/1/20,4/24/21,By Total,0.0,0.0,United States,All Ages,557486.0,4355577.0
1,1/1/20,4/24/21,By Total,0.0,0.0,United States,Under 1 year,66.0,23862.0
2,1/1/20,4/24/21,By Total,0.0,0.0,United States,0-17 years,277.0,41811.0
3,1/1/20,4/24/21,By Total,0.0,0.0,United States,1-4 years,34.0,4286.0
4,1/1/20,4/24/21,By Total,0.0,0.0,United States,5-14 years,98.0,6930.0
...,...,...,...,...,...,...,...,...,...
913,1/1/20,4/24/21,By Total,0.0,0.0,Puerto Rico,50-64 years,415.0,5183.0
914,1/1/20,4/24/21,By Total,0.0,0.0,Puerto Rico,55-64 years,305.0,4010.0
915,1/1/20,4/24/21,By Total,0.0,0.0,Puerto Rico,65-74 years,532.0,7076.0
916,1/1/20,4/24/21,By Total,0.0,0.0,Puerto Rico,75-84 years,575.0,9916.0
917,1/1/20,4/24/21,By Total,0.0,0.0,Puerto Rico,85 years and over,432.0,11018.0

In [7]:
age_data = age_data.loc[age_data['Age Group'] != "18-29 years"]
age_data = age_data.loc[age_data['Age Group'] != "0-17 years"]
age_data = age_data.loc[age_data['Age Group'] != "Under 1 year"]
age_data = age_data.loc[age_data['Age Group'] != "30-39 years"]
age_data = age_data.loc[age_data['Age Group'] != "40-49 years"]
age_data = age_data.loc[age_data['Age Group'] != "50-64 years"]
age_data = age_data.loc[age_data['State'] != "Puerto Rico"]
age_data = age_data.loc[age_data['State'] != "District of Columbia"]
age_data = age_data.loc[age_data['State'] != "New York City"]

In [8]:
age_data['Age Group'] = age_data['Age Group'].replace(
    {'1-4 years': 'Under 5 years'})

In [9]:
age_data

,Start Date,End Date,Group,Year,Month,State,Age Group,COVID-19 Deaths,Total Deaths
0,1/1/20,4/24/21,By Total,0.0,0.0,United States,All Ages,557486.0,4355577.0
3,1/1/20,4/24/21,By Total,0.0,0.0,United States,Under 5 years,34.0,4286.0
4,1/1/20,4/24/21,By Total,0.0,0.0,United States,5-14 years,98.0,6930.0
5,1/1/20,4/24/21,By Total,0.0,0.0,United States,15-24 years,844.0,44906.0
7,1/1/20,4/24/21,By Total,0.0,0.0,United States,25-34 years,3741.0,92911.0
...,...,...,...,...,...,...,...,...,...
895,1/1/20,4/24/21,By Total,0.0,0.0,Wyoming,45-54 years,24.0,371.0
897,1/1/20,4/24/21,By Total,0.0,0.0,Wyoming,55-64 years,60.0,942.0
898,1/1/20,4/24/21,By Total,0.0,0.0,Wyoming,65-74 years,137.0,1454.0
899,1/1/20,4/24/21,By Total,0.0,0.0,Wyoming,75-84 years,190.0,1739.0
900,1/1/20,4/24/21,By Total,0.0,0.0,Wyoming,85 years and over,198.0,1972.0

In [10]:
del age_data['Month']
del age_data['Year']

In [11]:
age_data

,Start Date,End Date,Group,State,Age Group,COVID-19 Deaths,Total Deaths
0,1/1/20,4/24/21,By Total,United States,All Ages,557486.0,4355577.0
3,1/1/20,4/24/21,By Total,United States,Under 5 years,34.0,4286.0
4,1/1/20,4/24/21,By Total,United States,5-14 years,98.0,6930.0
5,1/1/20,4/24/21,By Total,United States,15-24 years,844.0,44906.0
7,1/1/20,4/24/21,By Total,United States,25-34 years,3741.0,92911.0
...,...,...,...,...,...,...,...
895,1/1/20,4/24/21,By Total,Wyoming,45-54 years,24.0,371.0
897,1/1/20,4/24/21,By Total,Wyoming,55-64 years,60.0,942.0
898,1/1/20,4/24/21,By Total,Wyoming,65-74 years,137.0,1454.0
899,1/1/20,4/24/21,By Total,Wyoming,75-84 years,190.0,1739.0
900,1/1/20,4/24/21,By Total,Wyoming,85 years and over,198.0,1972.0

In [12]:
pop_data = pd.read_csv("../Folder2/Population_byCDCAgeGroup_byState.csv")

In [13]:
pop_data = pop_data.rename(columns={"CDC_AgeGroups":"Age Group"})
totals = pop_data.loc[pop_data['Age Group']=='Total']

In [14]:
merged_df = pd.merge(age_data, pop_data,  how='left', left_on=['State','Age Group'], right_on = ['State','Age Group'])

In [15]:
#merged_df = merged_df.loc[merged_df['State']!='United States']
merged_df = merged_df.loc[merged_df['Age Group']!='All Ages']
merged_df

,Start Date,End Date,Group,State,Age Group,COVID-19 Deaths,Total Deaths,Population
1,1/1/20,4/24/21,By Total,United States,Under 5 years,34.0,4286.0,NaN
2,1/1/20,4/24/21,By Total,United States,5-14 years,98.0,6930.0,NaN
3,1/1/20,4/24/21,By Total,United States,15-24 years,844.0,44906.0,NaN
4,1/1/20,4/24/21,By Total,United States,25-34 years,3741.0,92911.0,NaN
5,1/1/20,4/24/21,By Total,United States,35-44 years,9724.0,133834.0,NaN
...,...,...,...,...,...,...,...,...
556,1/1/20,4/24/21,By Total,Wyoming,45-54 years,24.0,371.0,63853.0
557,1/1/20,4/24/21,By Total,Wyoming,55-64 years,60.0,942.0,78754.0
558,1/1/20,4/24/21,By Total,Wyoming,65-74 years,137.0,1454.0,60590.0
559,1/1/20,4/24/21,By Total,Wyoming,75-84 years,190.0,1739.0,27598.0
560,1/1/20,4/24/21,By Total,Wyoming,85 years and over,198.0,1972.0,10991.0

In [16]:

del merged_df['Total Deaths']

In [17]:
merged_df

,Start Date,End Date,Group,State,Age Group,COVID-19 Deaths,Population
1,1/1/20,4/24/21,By Total,United States,Under 5 years,34.0,NaN
2,1/1/20,4/24/21,By Total,United States,5-14 years,98.0,NaN
3,1/1/20,4/24/21,By Total,United States,15-24 years,844.0,NaN
4,1/1/20,4/24/21,By Total,United States,25-34 years,3741.0,NaN
5,1/1/20,4/24/21,By Total,United States,35-44 years,9724.0,NaN
...,...,...,...,...,...,...,...
556,1/1/20,4/24/21,By Total,Wyoming,45-54 years,24.0,63853.0
557,1/1/20,4/24/21,By Total,Wyoming,55-64 years,60.0,78754.0
558,1/1/20,4/24/21,By Total,Wyoming,65-74 years,137.0,60590.0
559,1/1/20,4/24/21,By Total,Wyoming,75-84 years,190.0,27598.0
560,1/1/20,4/24/21,By Total,Wyoming,85 years and over,198.0,10991.0

In [18]:
merged_df.to_csv("../Folder3/age-pop-state.csv", index=False, header=True)

In [ ]:
groupby_df = merged_df.groupby(['State'])
groupby_df.head()

In [ ]:
state_name = []
age_group = []
population = []

In [ ]:
state_name = merged_df['State'].tolist()
age_group = merged_df['Age Group'].tolist()
population = merged_df['Population'].tolist()

In [ ]:

#alaska_pop = (alaska_df['Population']/731545.0)*100

In [ ]:
sum_state = groupby_df["Population"].sum()
sum_state

In [ ]:
age_data2 = pd.read_csv("../Folder1/Death_Counts_by_Sex_Age_and_State.csv")

In [ ]:
age_data2 = age_data2.loc[(age_data2['Sex'] == 'All Sexes')]
age_data2 = age_data2.loc[age_data2['State'] == 'United States']
#age_data = age_data.loc[age_data['Age Group'] == '85 years and over']
age_data2 = age_data2.loc[age_data2['Group']== 'By Total']
age_data2 = age_data2.loc[age_data2['Age Group'] != "18-29 years"]
age_data2 = age_data2.loc[age_data2['Age Group'] != "0-17 years"]
age_data2 = age_data2.loc[age_data2['Age Group'] != "Under 1 year"]
age_data2 = age_data2.loc[age_data2['Age Group'] != "30-39 years"]
age_data2 = age_data2.loc[age_data2['Age Group'] != "40-49 years"]
age_data2 = age_data2.loc[age_data2['Age Group'] != "50-64 years"]
age_data2 = age_data2.loc[age_data2['State'] != "Puerto Rico"]
age_data2 = age_data2.loc[age_data2['State'] != "District of Columbia"]
age_data2 = age_data2.loc[age_data2['State'] != "New York City"]
del age_data2['Footnote']
del age_data2['Data As Of']
del age_data2['Sex']
del age_data2['Pneumonia Deaths']
del age_data2['Pneumonia and COVID-19 Deaths']
del age_data2['Influenza Deaths']
del age_data2['Month']
del age_data2['Year']
del age_data2['Pneumonia, Influenza, or COVID-19 Deaths']
#age_data2

In [ ]:
pop_list = []
pop_list.append(total_pop)
pop_list.append(under_pop)
pop_list.append(years_5_14_sum)
pop_list.append(years_15_24_sum)
pop_list.append(years_25_34_sum)
pop_list.append(years_35_44_sum)
pop_list.append(years_45_54_sum)
pop_list.append(years_55_64_sum)
pop_list.append(years_65_74_sum)
pop_list.append(years_75_84_sum)
pop_list.append(years_85_sum)
#pop_list

In [ ]:
total_data= pop_data.loc[pop_data['Age Group']=='Total']
total_pop = total_data['Population'].sum()
under_data= pop_data.loc[pop_data['Age Group']=='Under 5 years']
under_pop = under_data['Population'].sum()
years_5_14 = pop_data.loc[pop_data['Age Group']=='5-14 years']
years_5_14_sum = years_5_14['Population'].sum()
years_15_24 = pop_data.loc[pop_data['Age Group']=='15-24 years']
years_15_24_sum = years_15_24['Population'].sum()
years_25_34 = pop_data.loc[pop_data['Age Group']=='25-34 years']
years_25_34_sum = years_25_34['Population'].sum()
years_35_44 = pop_data.loc[pop_data['Age Group']=='35-44 years']
years_35_44_sum = years_35_44['Population'].sum()
years_45_54 = pop_data.loc[pop_data['Age Group']=='45-54 years']
years_45_54_sum = years_45_54['Population'].sum()
years_55_64 = pop_data.loc[pop_data['Age Group']=='55-64 years']
years_55_64_sum = years_55_64['Population'].sum()
years_65_74 = pop_data.loc[pop_data['Age Group']=='65-74 years']
years_65_74_sum = years_65_74['Population'].sum()
years_75_84 = pop_data.loc[pop_data['Age Group']=='75-84 years']
years_75_84_sum = years_75_84['Population'].sum()
years_85 = pop_data.loc[pop_data['Age Group']=='85 years and over']
years_85_sum = years_85['Population'].sum()

In [ ]:
age_data2["Population by Age Group"] = pop_list
age_data2

In [ ]:
death_rate = age_data2['COVID-19 Deaths']/age_data2['Population by Age Group'] * 100

In [ ]:
age_data2["COVID-19 Death Rate"] = death_rate
age_data2

In [ ]:
population_perc = (age_data2['Population by Age Group']/327533774.0)*100
#population_perc

In [ ]:
age_data2["Population %"] = population_perc
age_data2

In [ ]:
covid_death_rate = (age_data2['COVID-19 Deaths']/557486.0)*100
age_data2["COVID-19 Death Rate by Age"] = covid_death_rate
age_data2

In [ ]:
age_data2.to_csv("../Folder2/final-us-age-data.csv", index=False, header=True)

In [ ]:
age_data2 = age_data2.loc[age_data2['Age Group']!='All Ages']

In [ ]:
x_axis = []
x_axis = age_data2['Age Group'].tolist()
ind = np.arange(len(x_axis))
width = 0.4

death_axis = age_data2['COVID-19 Death Rate by Age'].astype(float)
pop_axis = age_data2['Population %'].astype(float)
fig, ax = plt.subplots()

ax.barh(ind-width, pop_axis, width, label ='Percent of US Population', color='darkseagreen', align='center')
ax.barh(ind, death_axis, width, color='lightblue', label='Percentage of Deaths', align='center')


ax.set_yticks(ind-.2)
ax.legend()
ax.set_xlabel('%')
ax.set_ylabel('Age Group (years)')
ax.set_yticklabels(x_axis)
ax.invert_yaxis()  # labels read top-to-bottom
ax.set_title('COVID-19 Deaths (%) and Population (%) by Age')
plt.show()

Hospital Beds

In [ ]:
%pwd

In [ ]:
hospital_beds = pd.read_csv("../Folder1/hospitalbeds_percapita_bystate.csv",skiprows=(0,1))
#hospital_beds['Location'].unique()

In [ ]:
us_state_abbrev = {
    'United States': 'USA',
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York City':"NYC",
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

In [ ]:
total_beds = []
total_beds = hospital_beds['Total'].tolist()

In [ ]:
hospital_beds = hospital_beds.dropna(how='any')

In [ ]:
Dict = {"States":[]}
for state in states:
    Dict["States"].append(us_state_abbrev[state])

In [ ]:
hospital_beds = pd.DataFrame(Dict)
hospital_beds['Total Beds'] = total_beds
hospital_beds

 'Data include staffed beds for community hospitals, which represent 85% of all hospitals.',
       'Figures may not sum to totals due to rounding.', 'Sources',
       '1999 - 2019 AHA Annual Survey, Copyright 2020 by Health Forum, LLC, an affiliate of the American Hospital Association. Special data request, 2020. Available at [http://www.ahaonlinestore.com](https://ams.aha.org/eweb/DynamicPage.aspx?WebCode=ProdDetailAdd&ivd_prc_prd_key=165f9fbf-d766-40a9-96a6-a212aed366bb).',
       'Population data from Annual Population Estimates by State, U.S. Census Bureau; available at [http://www.census.gov/popest/](http://www.census.gov/popest/).',
       'Definitions',
       '*Community Hospitals:* All nonfederal, short-term general, and specialty hospitals whose facilities and services are available to the public.',
       '*N/A*: Not applicable when state/local government, non-profit, or for-profit hospitals do not exist in the state.'],
      dtype=object)

In [ ]:
df_deathrate = pd.read_csv("../Folder2/Final_DeathRate_byState_042021.csv")
df_deathrate.rename(columns={"Unnamed: 0":"States"},inplace=True)
#df_deathrate

In [ ]:
df_deathrate = df_deathrate.loc[df_deathrate['States']!='RMI']
df_deathrate = df_deathrate.loc[df_deathrate['States']!='FSM']
df_deathrate = df_deathrate.loc[df_deathrate['States']!='AS']
df_deathrate = df_deathrate.loc[df_deathrate['States']!='PW']
df_deathrate = df_deathrate.loc[df_deathrate['States']!='DC']
df_deathrate = df_deathrate.loc[df_deathrate['States']!='PR']
df_deathrate = df_deathrate.loc[df_deathrate['States']!='GU']
df_deathrate = df_deathrate.loc[df_deathrate['States']!='MP']

In [ ]:
df_deathrate = df_deathrate.dropna()

In [ ]:
df_deathrate = df_deathrate.reset_index(drop=True)

In [ ]:
df_deathrate['States'] = df_deathrate['States'].replace(
    {'NYC': 'NY'})
#df_deathrate

In [ ]:
df_merge = df_deathrate.merge(hospital_beds, how='inner', on="States")

In [ ]:
df_merge.plot.scatter("Total Beds","Covid_Death_Rate")

In [ ]:
df_merge

In [ ]:
from scipy.stats import linregress

In [130]:
total_beds = df_merge["Total Beds"]
Covid_Death_Rate = df_merge["Covid_Death_Rate"]

NameError: name 'df_merge' is not defined

In [ ]:
plt.scatter(total_beds,Covid_Death_Rate, c='darkseagreen')
plt.xlabel('Total Beds')
plt.ylabel('Covid Death Rate %')
plt.title("Total Hospital Beds and Covid Deaths by State")

for index, row in df_merge.iterrows():
    #print(f"{row[0]} at coords: ({row[2]},{row[1]})")
    plt.annotate(row[0],(row[2],row[1]))
#plt.savefig("../Folder4/total beds and deaths scatter.png")
plt.show()

In [ ]:
(slope, intercept, rvalue, pvalue, stderr) = linregress(total_beds, Covid_Death_Rate)

regress_values = total_beds * slope + intercept

line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

plt.scatter(total_beds,Covid_Death_Rate)

plt.plot(total_beds ,regress_values,"lightblue")

r_sqr = round(rvalue**2,2)

plt.annotate(line_eq,(3, .8),fontsize=10,color="black")

plt.annotate(f"The r-squared is: {r_sqr}",(25,0.5),fontsize=10,color="black")

plt.xlabel('Total Beds')
plt.ylabel('Covid Death Rate %')
plt.title("Total Hospital Beds and Covid Deaths by State")

print(f"The r-squared is {r_sqr}")
print(f"The line equation is: {line_eq}")

for index, row in df_merge.iterrows():
    #print(f"{row[0]} at coords: ({row[2]},{row[1]})")
    plt.annotate(row[0],(row[2],row[1]))

#plt.savefig("../Folder4/total beds and deaths regression.png")
plt.show()

death by state

In [ ]:
df1 = pd.read_csv("../Folder2/Final_DeathRate_byState_042021.csv")

In [ ]:
df1.rename(columns={"Unnamed: 0": "State", "Covid_Death_Rate":"Cum_Covid_19_Death_Rate"},inplace=True)
df1.drop([0,1,2,3,4,12,36,41,60,62,54,56,61],inplace=True)
df1 = df1.reset_index(drop=True)

In [ ]:
states = df1["State"]
death_rate = df1["Cum_Covid_19_Death_Rate"]

In [ ]:
plt.figure(figsize=(15,5))
plt.bar(states,death_rate, color='darkseagreen')
plt.grid(True)
plt.title('COVID-19 Death Rate by State')
plt.ylabel('COVID-19 Death Rate(%)')
plt.xlabel('State')
plt.xticks(rotation = 90)
#plt.savefig("../Folder4/death-rate-by-state.png")
plt.show()

In [ ]:
df1

In [ ]:
# Locate the rows which contain mice on Infubinol and get the tumor volumes

death_rate = df1["Cum_Covid_19_Death_Rate"]

# Calculate the IQR and quantitatively determine if there are any potential outliers. 
death_quartiles = death_rate.quantile([.25,.5,.75])
death_lowerq = death_quartiles[0.25]
death_upperq = death_quartiles[0.75]
death_iqr = death_upperq-death_lowerq

print(f"The lower quartile of the death rate for all states is: {round(death_lowerq,2)}")
print(f"The upper quartile of the death rate for all states is: {round(death_upperq,2)}")
print(f"The interquartile range of the death rate for all states is: {round(death_iqr,2)}")
print(f"The median of the death rate for all states is: {round(death_quartiles[0.5],2)} ")

# Determine outliers using upper and lower bounds
death_lower_bound = death_lowerq - (1.5*death_iqr)
death_upper_bound = death_upperq + (1.5*death_iqr)
print(f"Values below {round(death_lower_bound,2)} could be outliers.")
print(f"Values above {round(death_upper_bound,2)} could be outliers.")

In [ ]:
label =["United States"]

In [ ]:
fig, ax1 = plt.subplots(figsize=(10, 8))
flierprops = dict(marker='o', 
                  markersize=14, 
                  markerfacecolor='lightblue',
                  markeredgecolor='cornflowerblue')

plt.boxplot = ax1.boxplot(death_rate, patch_artist=True, flierprops=flierprops)
plt.annotate('MA',
    (1, 2.7),
    xytext=(1, 2.7),
    fontsize=11)
plt.annotate('NJ',
    (1, 2.5),
    xytext=(1, 2.5),
    fontsize=11)
plt.annotate('AK',
    (1, 0.45),
    xytext=(1, 0.45),
    fontsize=11)
plt.annotate('UT',
    (1, 0.59),
    xytext=(1, 0.59),
    fontsize=11)


#for index, row in df1.iterrows():
#        print(f"{row[0]} at coords: ({row[1]})")
#        plt.annotate(row[0],row[1])
plt.title('COVID-19 Death Rate by State Outliers')
plt.ylabel('COVID-19 Death Rate(%)')
plt.xlabel('United States')
plt.savefig("../Folder4/death-rate-boxplot.png")
print(f"The lower quartile of the death rate for all states is: {round(death_lowerq,2)}")
print(f"The upper quartile of the death rate for all states is: {round(death_upperq,2)}")
print(f"The interquartile range of the death rate for all states is: {round(death_iqr,2)}")
print(f"The median of the death rate for all states is: {round(death_quartiles[0.5],2)} ")
print(f"Values below {round(death_lower_bound,2)} could be outliers.")
print(f"Values above {round(death_upper_bound,2)} could be outliers.")
plt.show()